@{
    ViewBag.Title = "Error";
}

<div id="wrap">


    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Dislike.Me</h1>
                    <br>
                </div>
               

            </div>
        </div> <!--/ .container -->
    </div><!--/ #headerwrap -->

    <div id="errorbody">
        <div class="container">
            <div class="row centered">
                <div class="col-md-6 col-md-offset-3">

                  <h1>Uh Oh!</h1>
                    <br />
                    <p>Looks like something went wrong!</p>
                    <p> Sorry about that :(</p>
                    <p>Maybe try again later?</p>
                </div>
               

            </div>

        </div>



    </div>

</div>

